header{
    background-color:#bfc9ca;
    border: 2px solid;
    border-radius: 8px;
    padding: 5px;
}
nav{
    background-color:#bfc9ca;
    float: left;
    text-align: center;
    border: 2px solid;
    border-radius: 8px;
    padding: 5px;
    
}
nav a {
    text-decoration: none;
}


body {
    background-color: #FFF5EE;
    margin: 0;
}