* {
    font-family: sans-serif;
    margin:0;  
    padding:0;  
    box-sizing: border-box; /* medidas sao tomadas da borda */
  }
  
  header, main, article {
    /* centrando o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }
  
  * {
    padding: 0; 
    margin: 0;
    box-sizing:border-box;
    font-family: sans-serif;
  }
  
  header {
    height: 10vh; 
    background: #080808;
    color: white;
    top: 0;  
    
    /* alinhando logo e menu */
    display:flex;
    justify-content: space-between;  
    align-items: center;
  }
  
  header div {
    font-size: 2em;  
    padding: 1em;
  }
  
  header nav {
    display:flex;
    justify-contents: flex-end;  
  }
  
  
  nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: lightgray;
  }
  
  
  main {
    height: 85vh;
    background-color:grey;
    padding: 4em 4em;
  }
  
  footer {
    height:5vh;
    display:flex;
    justify-content: flex-end;
    padding: 0 2vw;
    align-items: center;
  }
  
  
  article {
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
  }
  


  nav {
    margin-top: 0; /* Remove o espaço acima da navegação */
  }

  nav ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove o padding da lista */
    margin: 0; /* Remove a margem da lista */
    display: flex; /* Usar flexbox para dispor os itens em linha */
    gap: 15px; /* Espaço entre os itens */
  }

  nav ul li a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    padding: 8px 12px; /* Espaçamento interno dos links */

  }

  nav ul li:last-child a {
    background-color: #b6b6b6; /* Cor de fundo diferente para o último link */
    border-radius: 4px; /* Arredondar os cantos do fundo */
  }


  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #6f6a6a;
    font-size: 2rem;
    }
