header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}


/* Mobile Portrait */
@media (max-width: 480px) {

  body {
    display: grid;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'footer';
      gap: 10px;
      padding: 10px;
      grid-template-columns: auto;  
      grid-template-rows: auto;
    }
  
}
  
  /* Mobile */
  @media (min-width: 481px) and (max-width: 767px) {

      body{
      display: grid;
      grid-template-areas:
      'header header'
      'nav nav'
      'main main'
      'footer footer';
      gap: 10px;
      padding: 10px;
      grid-template-columns: 1fr 1fr;  
      grid-template-rows: auto;
    }
  }


  /* Tablet */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      display: grid;
      grid-template-areas:
      'header header header'
      'nav nav nav'
      'aside main main'
      'aside footer footer';
      gap: 10px;
      padding: 10px;
      grid-template-columns: 20vw 3fr 1fr;
      grid-template-rows: 15vh 1fr 60px;
      }
  }

/* 4k */
  @media (min-width: 1920px) {
    body {
      display: grid;
      grid-template-areas:
      'header header header'
      'nav main main'
      'nav main main'
      'nav footer footer';
      gap: 12px;
      padding: 12px;
      grid-template-columns: 20vw 2fr 2fr;
      grid-template-rows: 15vh 1fr 80px;
      }
    
  }

  